{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock title %}

{% block content %}


<div class="container-fluid">
    <div class="container-fluid">
        <div class="p-3 " id="searchAndFilteringPanel">
            <form class="p-3" >
                <input name="search" id="search" type="text"  class="form-control" placeholder="Искать здесь...">
            </form>
            <div class="col-md-12">
                <form class="form-inline p-2">
                    <label class="formGroupExampleInput p-3">Дата рождения от</label>
                    <input id="fromBirthdate" class="form-control" type="date" >
                    <label class="formGroupExampleInput p-3">до</label>
                    <input id="toBirthdate" class="form-control" type="date" >
                </form>
                <form class="form-inline p-2" >

                    <label class="formGroupExampleInput p-3">Дата поступления от</label>
                    <input id="fromDateOfReceipt" class="form-control" type="date">
                    <label class="formGroupExampleInput p-3">до</label>
                    <input id="toDateOfReceipt" class="form-control" type="date">
                </form>
                <form class="form-inline p-2" id="date-of-deduction" style="display:none;">
                    <label class="formGroupExampleInput p-3">Дата отчисления от</label>
                    <input id="fromDateOfDeduction" class="form-control" type="date">
                    <label class="formGroupExampleInput p-3">до</label>
                    <input id="toDateOfDeduction" class="form-control" type="date">
                </form>
                <div class="ml-4 mt-3 form-check-inline ">
                        <input id="orphan" class="form-check-input" name="orphan" type="checkbox">
                        <label class="form-check-label">Показать сирот</label>
                </div>
                <div class="form-check-inline mt-3">
                        <input id="disable" class="form-check-input" name="disable" type="checkbox">
                        <label class="form-check-label">Показать инвалидов</label>
                </div>
                <div class="form-check-inline mt-3">
                        <input id="expelled" class="form-check-input" name="expelled" type="checkbox" onclick="isChecked()">
                        <label class="form-check-label">Показать всех отчисленных</label>
                </div>
                <form class="btn-group">
                    <select class="combo" id="groupComboBox">
                        <option value="-">Выберите группу</option>
                        <option value="Старшая">Старшая</option>
                        <option value="Средняя">Средняя</option>
                        <option value="Младшая">Младшая</option>
                    </select>
                </form>
                <form class="btn-group ml-2">
                    <select class="combo" id="genderComboBox">
                        <option value="-">Выберите пол</option>
                        <option value="Муж">Муж</option>
                        <option value="Жен">Жен</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
            <table class="table table-scroll table-hover table-bordered " style="text-align:center;">
                <thead class="thead-dark ">
                    <tr class="">
                        <th class=""></th>
                        <th class="">ФИО</th>
                        <th class="">Пол</th>
                        <th class="">Дата рождения</th>
                        <th class="">Место рождения</th>
                        <th class="">Сирота</th>
                        <th class="">Дата поступления</th>
                        <th class="">Дата отчисления</th>
                    </tr>
                </thead>

                    <tbody class=""id="body"  >

                    </tbody>
            </table>
    </div>
</div>
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
