{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block button_panel %}{% block create-button %} <a class="btn btn-primary ml-4"  href="{% url 'create'%}" >+ Создать аккаунт</a>{% endblock %}{% endblock %}


{% block content %}
<div class="container-fluid p-3">
    <div class="table-responsive">
        <table class="table table-scroll table-hover table-bordered " style="text-align:center;">
            <thead class="thead-dark ">
                <tr class="">
                    <th class="">Имя пользователя</th>
                    <th class="">Последний вход</th>

                </tr>
            </thead>
            <tbody class=" " id="body">
                {% for user in object_list %}
                <tr class="table-blocks">
                    <td class="table-block">{{ user.username }}</td>
                    <td class="table-block">{{ user.last_login }}</td>
                </tr>
                <div class = "btn-group-vertical context-menu">
                    <div class="dropdown-menu-verical">
                        <a class="dropdown-item" href="{% url 'edit_user' user.pk %}">Изменить имя</a>
                        <a class="dropdown-item" href="{% url 'edit_password' user.pk %}">Изменить пароль</a>
                        <a class="dropdown-item" href="{% url 'delete_user' user.pk %}">Удалить</a>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}